/*Fuentes*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 4vw;
}

h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 3vw;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
}

/*General*/

.App {
    text-align: center;
    background-color: #691214;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #1f1f1f ;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/* Header Logo */
.Header img {
    width: 100px;
}

.navbar { 
    background-color: #1f1f1f ;/*Barra Menu*/
}

.navbar-light .navbar-nav .nav-link{
    color: aliceblue !important; /*Texto menu*/
}

.navbar-toggler {
    background-color: aliceblue; /*Hamburguesa Menu*/  
}


/*Form*/

.Basic-button {
    background-color: #691214;
    font-family: 'Open Sans', sans-serif;
    border-color: #f5ae1e;
    margin-top: 3px;
    margin-bottom: 3px;
}

.welcomePage {
    height: 470px;
    color: aliceblue;
}

.welcomePage > div {
    margin-top: auto;
    margin-bottom: auto;
}

.Login{
    color: aliceblue;
    height: 480px;
}

.col-lg-6{
    border: solid 2px;
    border-color: #cccccc;
    background-color: #cccccc;
    border-radius: 10px;
}

.Login .Logo img {
    width: 200px;
    height: 200px;
}

.Login form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.logtext{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
    color: aliceblue;
}

.regcontain{
    height: 470px;
}

.regform{
    border: solid 2px;
    border-color: #cccccc;
    background-color: #cccccc;
    border-radius: 10px;
}

.formjump{
    padding-top: 20px;
}